@font-face {
  font-family: digital7;
  src: url('../fonts/digital-7.ttf');
  }
.calculadora{
  background-image: url('../imagenes/calculadora.png');
  background-size: 100% 100%;
  width: 130px;
  height: 230px;
  background-repeat: no-repeat;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 2%;
}
.pantalla{
  display: inline-grid;
  grid-template-columns: auto;
  height: 20%;
  margin-top: 10%;
  padding-right: 10px;
  font-family: digital7;
  font-size: 17px;
  float: right;
}
.pantallamini{
  font-size: 10px;
}
.numeros{
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto;
  grid-gap: 5px;
  margin-bottom: 5px;
}
.numeros-dos{
  display: inline-grid;
  grid-template-columns: 75% auto;
  grid-row: auto;
  grid-gap: 5px;
}
.numeros-tres{
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-row: auto;
  grid-gap: 5px;
}
.teclas{
  height: 100%;
  width: 100%;
}
